@import "app/vars.scss";

.basket_main {
  @include display(flex, row, center, flex-start);
  @include size(100%, auto);
  gap: 30px;
  padding: 50px;
  border: 1px solid #111;

  .basket_products {
    @include display(flex, column, center, flex-start);
    @include size(100%, auto);
    gap: 20px;
    padding: 20px;
    border: 1px solid #111;
    border-radius: 16px;
  }

  .basket_checkout {
    @include display(flex, column, flex-start, flex-start);
    @include size(400px, auto);
    padding: 20px;
    gap: 15px;
    border: 1px solid #111;
    border-radius: 16px;

    > h1 {
      @include font(24px, 700);
    }

    > .checkout_content {
      @include display(flex, column, flex-start, center);
      @include size(100%, auto);
      gap: 10px;
      padding: 15px 0;

      > div {
        @include display(flex, row, space-between, center);
        @include size(100%, auto);
        > p {
          @include font(14px, 500);
        }
        > span {
          @include font(14px, 700);
        }
      }
      .checkout_total {
        border-top: 1px solid #ccc;
        padding: 10px 0;
      }
    }

    > a {
      width: 100%;
      background-color: orange;
      color: $white;
      text-align: center;
      padding: 20px;
      border-radius: 16px;
    }
  }
}
