@import "@app/vars.scss";

.register_main {
  @include display(flex, column, center, center);
  @include size(100%, 80vh);
  .register_content {
    @include display(flex, column, center, center);
    @include size(500px, auto);
    min-height: 400px;
    border: 1px solid #ccc;
    color: $white;
    background-color: #393e46;
    gap: 30px;
    padding: 50px 0;
    border-radius: 16px;

    > h1 {
      @include font(30px, 700);
    }

    > input {
      @include size(250px, 50px);
      @include font(18px, 600);

      outline: none;
      padding: 15px;
      border: none;
      border-radius: 16px;
    }
    > button {
      @include size(250px, 50px);
      @include font(16px, 600);
      background-color: #00adb5;
      color: $white;
      padding: 15px;
      border-radius: 16px;
      border: none;
    }

    > a {
      color: $white;
    }
  }
}
