.main {
  display: flex;
  flex-direction: row;
  gap: 30px;

  .filter_left {
    position: sticky;
    width: 20vw;
    border: 1px solid black;
    height: auto;
    min-height: 100vh;
  }

  .product_right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;

    .product_sort {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid black;
      height: 80px;
    }
    .product_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 50px;
    }
  }
}
