@mixin display($flex, $direction, $justify, $align) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

$black: #111;
$white: #fff;
$grey: #ddd;
