@import "app/vars.scss";

.comment_item {
  @include display(flex, column, center, flex-start);
  @include size(100%, auto);
  gap: 15px;
  padding: 20px;
  border: 1px solid $black;

  > h1 {
    @include font(24px, 700);
  }

  > p {
    @include font(18px, 600);
  }
  > span {
    @include font(14px, 500);
  }

  > div {
    @include display(flex, row, flex-start, center);
    gap: 10px;
    > p {
      @include font(14px, 500);
    }
  }
}
