@import "app/vars.scss";
.product_main {
  @include display(flex, column, flex-start, flex-start);
  max-width: 250px;
  border: 1px solid #111;
  border-radius: 16px;
  padding: 15px;
  text-decoration: none;
  color: #111;
  gap: 40px;
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid orange;
    transform: scale(1.1)
  }

  .product_top {
    @include size(100%, 180px);
    > img {
      @include size(100%, 180px);
    }
  }
  .product_bottom {
    @include display(flex, column, flex-start, flex-start);
    @include size(100%, auto);
    gap: 15px;

    & > button {
      @include size(100%, 50px);
      @include font(16px, 600);
      border-radius: 30px;
      cursor: pointer;
      border: none;
      margin-top: 20px;
      background-color: orange;
      color: #fff;
    }
    > p {
      @include font(14px, 600);
      color: $black;
    }

    .item_price {
      @include font(18px, 700);
    }
  }
}
