@import "app/vars.scss";
.product_main {
  @include display(flex, column, flex-start, flex-start);
  @include size(auto, 400px);
  min-width: 250px;
  border: 1px solid #111;
  border-radius: 16px;
  padding: 15px;
  text-decoration: none;
  color: #111;

  .product_top {
    @include size(100%, 180px);
    background-color: #ddd;
  }
  .product_bottom {
    @include display(flex, column, center, flex-start);
    @include size(100%, 220px);
    gap: 20px;
    padding: 10px;

    & > button {
      @include size(100%, 50px);
      @include font(16px, 600);
      margin-top: auto;
      border-radius: 30px;
      cursor: pointer;
      border: none;
      background-color: orange;
      color: #fff;
    }
  }
}
