@import "app/vars.scss";

.basket_item {
  @include display(flex, row, space-between, center);
  @include size(100%, 200px);
  padding: 15px;
  border-top: 1px solid #ccc;

  .item_left {
    @include display(flex, row, flex-start, center);
    gap: 10px;

    > img {
      @include size(150px, 150px);
    }

    > p {
      @include font(13px, 500);
      width: 300px;
      > span {
        font-weight: 700;
      }
    }
  }

  .item_right {
    @include display(flex, row, flex-end, center);
    gap: 25px;

    .item_counter {
      @include display(flex, row, center, center);
      @include size(150px, 50px);
      border: 1px solid #ccc;
      > button {
        @include size(50px, 100%);
        border: 1px solid #ccc;
        cursor: pointer;
      }
      > input {
        @include size(100%, 100%);
        outline: none;
        border: none;
        text-align: center;
      }
    }

    > p {
      @include font(16px, 700);
    }
    > button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
